*, *::before , *::after{
    box-sizing: border-box;
}

body{
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------- HEADER --------------*/

.header{
    
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 8pt;
    letter-spacing: .4em;
    /*background: black;*/
}

.visita a{
   font-weight: 800;
   color: black;
   text-decoration: none;
   transition: color .5s;
}

.visita a:hover{
    color: #b3b3b3;
 }


.logo img{
    width: 50px;
}


/*-------------- MAIN --------------*/


.cuerpo{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    /*background: wheat;*/
   
    
}

.main-img{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    

}
.main-img img{
    width: 600px;
    margin-left: 0;
    
}

.main-info{
    
    width: 400px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.main-info :nth-child(1){
    font-size: 18pt;
    
    
   
}

.main-info :nth-child(2){
    font-size: 10pt;
    color: darkgrey;
    cursor: default;
    margin-top: 0;
    
}

.boton{
    width: 100px;
    height: 30px;
    color: white;
    background: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7pt;
    letter-spacing: .2em;
    margin-top: 10px;
    transition: background  .3s;
    
    
}

.boton:hover{
   background: hsl(39, 100%, 65%);
   color: black;
}





/*-------------- FOOTER --------------*/

.producto{
    width: 230px;
    height: 300px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.producto img{
    width: 230px;
    
}

.productos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
    /*background: chocolate;*/
    width: 100%;
    height: 300px;
}

.boton2{
    width: 100px;
    height: 30px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6pt;
    letter-spacing: .2em;
    margin-top: 10px;
    transition: background .3s;
}

.boton2:hover{
   background: black;
   color: white;
}